:root {
  --lwt-background-tab-separator-color: transparent;
  --toolbarbutton-border-radius: 15px !important;
  /*Tab text Color*/
  --lwt-text-color: rgb(55, 55, 55) !important;
  /*Urlbar text color*/
  --lwt-toolbar-field-color: rgb(55, 55, 55) !important;
  /*Urlbar text color when focused*/
  --lwt-toolbar-field-focus-color: black !important;
}


#navigator-toolbox{
  --tabs-border-color: rgba(0,0,0,0) !important; 
}

#titlebar #TabsToolbar {
	padding: 15px 0px 8px 6px !important;
	/*background-color: rgba(159, 206, 252, 0.9) !important;*/
}
#toolbar-menubar, #TabsToolbar {
  background: #5ae9b2 !important;

}

.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 10px !important;
}
.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 2.5px !important;
  margin-left: 2.5px !important;
}

.tab-background-inner{
  border-radius: 10px;
  background: #6ff7c3d8 !important;

}

#urlbar{
  border-radius: 15px;
  color: black;
}

/*Bookmarks Bar*/
#PersonalToolbar{
  background: #6ff7c3d8 !important;
}

#urlbar-results {
  background:#5bf3b9d8 !important;
}


#urlbar > #urlbar-background {
  border: none !important;
  box-shadow: none !important;
  background: #5bf3b9d8 !important;
}  

#TabsToolbar{--lwt-toolbarbutton-icon-fill:  rgba(88, 153, 218, 1)}

.titlebar-button.titlebar-min > .toolbarbutton-icon,
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-close > .toolbarbutton-icon {
    
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
	
}

#urlbar[breakout-extend]{top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2)!important;left:calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2)!important;width:100%!important}

#urlbar[breakout-extend] #urlbar-input-container{height:calc(var(--tab-min-height) - 3px)!important;padding:0px!important}

.urlbarView{margin:0px!important;width:100%!important}

.urlbarView-row{padding:0px!important}


toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
  fill: black !important;
  stroke-width: .2px;
  border-radius: 30px !important;
}

toolbar#nav-bar {
	box-shadow: none !important;
  padding-bottom: 4px !important;
  background: #5ae9b2 !important;
}
